{% load static %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'shoppingLists/style.css' %}">

<div class="app-container">
    <h2>Shopping List</h2>
    <ul class="list-unstyled shopping-list-container">
    {% if item_list %}
        <form method="post">
            <input class="btn btn-primary" type="submit" value="Save">
        {% for item in item_list %}
            <li>
                {% csrf_token %}
                Purchased: <input type="checkbox" name="purchased" value="{{ item.id }}" {% if item.purchased %} checked {% endif %}>
                Delete: <input type="checkbox" name="deleting" value="{{ item.id }}"> 
                <input type="text" name="edit-name" value="{{ item.name }}">
            </li>
        {% endfor %}
        </form>
    {% else %}
        <p>No items are available.</p>
    {% endif %}
        <li>
            <form method="post">
                {% csrf_token %}
                <input type="text" name="name">
                <input class="btn btn-primary" type="submit" value="Add Item">
            </form>
        </li>
    </ul>
</div>